<!doctype html>
<html>

<head>

    <title>Room <%- roomID %></title>

    <style>

        li {

        }

        li:hover {
            background-color: lightgray;
        }

        li:hover ul {
            background-color: white;
            font-weight: normal;
        }

        body {
            font: 13px Helvetica, Arial;
        }

        #chat{
            overflow:auto;
        }

        #messageForm {
            background-color:rgb(216, 170, 118); padding: 8px 8px 8px 8px ;
            display: inline;
        }

        #chatMessageBox {
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 85vh;
        }

        #chatMessageBox li {
            padding: 5px 10px;
        }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>

        let socket = io();

        function intToRGB(integer) {
            let c = (integer & 0x00FFFFFF)
                .toString(16)
                .toUpperCase();

            return "00000".substring(0, 6 - c.length) + c;
        }

        function hashCode(string) { // java String#hashCode
            let hash = 0;
            for (let i = 0; i < string.length; i++) {
                hash = string.charCodeAt(i) + ((hash << 5) - hash);
            }
            let result = intToRGB(hash);
            //console.log(result);
            return result;
        }

        function linkify(text) {
            let urlRegex =/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
            return text.replace(urlRegex, function(url) {
                return '<a href="' + url + '">' + url + '</a>';
            });
        }

        function linkMessage(messageID) {

            socket.emit('linkMessage', {messageID: messageID, roomID: "<%- roomID %>" })

        }

        function referenceMessage(messageID) {

            socket.emit('referenceMessage', {roomID: "<%- roomID %>", message: $('#messageFormInput').val(), messageID: messageID});

        }

        $(document).ready(function () {

            // Message submit button clocked
            $('#messageForm').submit(function () {
                socket.emit('chatMessage', {room: "<%- roomID %>", message: $('#messageFormInput').val()});
                $('#messageFormInput').val('');
                return false;
            });


            // Client enters room
            socket.emit("enteredRoom", "<%- roomID %>");

            // Client receives linked message
            socket.on('linkMessage', function(message) {
                $('#chatMessageBox').append('<li ' + 'style=background-color:#' + hashCode(message.clientUsername) + '>' + '<a href=\"#' + message.messageID + '\" > ' + message.clientUsername + ": Linked a message" + '</li>');
                window.scrollTo(0,document.body.scrollHeight);
            });

            // Client receives reference message
            socket.on('referenceMessage', function(message) {

                console.log(document.getElementById(message.messageID).innerHTML)
                $('#chatMessageBox').append('<li ' + 'style=background-color:#' + hashCode(message.clientUsername) + '>' + '<a href=\"#' + message.messageID + '\" > ' + document.getElementById(message.messageID).innerHTML + '</a> <br>' + (message.clientUsername + ":" + linkify(message.message)) + '</li>');
                window.scrollTo(0,document.body.scrollHeight);
            });




            // Client received message
            socket.on('chatMessage', function(message) {

                // onClick="linkMessage(this.id)"

                let messageID = message.messageID;


                // let replyButton = '<button onclick=\"referenceMessage('  + ')"' + 'type="button">Reference</button>';
                let replyButton = '<button onclick="referenceMessage(' + "'" + messageID + "'" + ')"' + 'type="button">Reference</button>';


                //let replyButton = '<button ' + 'type="button">Reference</button>';
                $('#chatMessageBox').append('<li ' + 'id=' + messageID + ' onClick="linkMessage(this.id)" ' + 'style=background-color:#' + hashCode(message.clientUsername) + '>' + (message.clientUsername + ":" + linkify(message.message)) + '</li>');
                $('#chatMessageBox').append(replyButton);
                window.scrollTo(0,document.body.scrollHeight);
            });

            // Client received update
            socket.on('update', function(message) {
                $('#chatMessageBox').append('<li style="background-color:#000000;color:#FFFFFF">' + (message) + '</li>');
                window.scrollTo(0,document.body.scrollHeight);
            });

        });

    </script>

</head>

<body>

<!--Chat Messages Box-->
<div id="chat">
    <ul id="chatMessageBox"></ul>
</div>

<hr>

<div>

    <!--Leave Room Button-->
    <button onclick="window.location='/';">Go back</button>

    <!--Message FormButton-->
    <form id="messageForm" action="">
        <input style="width:88%" id="messageFormInput" autocomplete="off" />
        <button>Send Message</button>
    </form>


</div>

<!--<script>-->

<!--    var inputElement = document.createElement('input');-->
<!--    inputElement.type = "button";-->

<!--    inputElement.addEventListener('click', function(){-->
<!--        linkify(result.name);-->
<!--    });-->

<!--document.body.appendChild(inputElement);-->

<!--</script>-->

</body>

</html>